@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Outfit:wght@400;700&display=swap');

:root {
    --font-0: clamp(0.75rem, 0.64rem + 0.54vw, 1.25rem);
    --font-1: clamp(0.90rem, 0.76rem + 0.72vw, 1.56rem);
    --font-2: clamp(1.08rem, 0.89rem + 0.94vw, 1.95rem);
    --font-3: clamp(1.30rem, 1.05rem + 1.24vw, 2.44rem);
    --font-4: clamp(1.56rem, 1.23rem + 1.62vw, 3.05rem);
    --font-5: clamp(1.87rem, 1.44rem + 2.11vw, 3.82rem);
  }

h1 {
    font-size: var(--font-4);
}

h2 {
    font-size: var(--font-3);
}

h3 {
    font-size: var(--font-2);
}

p {
    font-size: var(--font-0);
}

body{

    background-color: rgb(214, 200, 171);

}

main {
    width: 100%;    
    height: 100%;

}

figure {
    width: 75%;
    margin: 0 auto;
}

figcaption{
    font-style: italic;
    padding: 0.3em;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.title {
    padding: 2em;
    margin: auto;
}

.title h1, .title p {
    text-align: center;

}

#under-head {
    font-style: italic;
}

.section {
    border-bottom: 1px solid black;
    width: 85%;
    padding: 2em;
    margin: auto;
}

.section p {
    text-align: justify;
}

